{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="pt-5">
    <div class="container">
        <h1 class="h5"> Carrinho de compras </h1>
        <hr>

        <!-- Renderizar os itens do carrinho -->
        {% for produto in produtos %}
            {% with product=produto %}
                <div class="row mb-4 px-3 py-3 border product-produto" id="product-produto-{{ product.id }}">
                  <!-- Galeria de imagens -->
                  <div class="col-2 d-flex flex-column justify-content-center align-produtos-center bg-light">
                    {% if product.imagens %}
                      <img id="mainImage-{{ product.id }}" class="img-fluid mb-3" alt="Imagem principal" src="{{ product.imagens.0 }}">
                      <div class="d-flex justify-content-center overflow-auto w-100" style="white-space: nowrap;">
                        {% for imagem in product.imagens %}
                          <img 
                            src="{{ imagem }}" 
                            alt="Imagem {{ forloop.counter }}" 
                            class="img-thumbnail me-2" 
                            style="width: 60px; height: 60px; cursor: pointer;" 
                            onclick="document.getElementById('mainImage-{{ product.id }}').src = this.src">
                        {% endfor %}
                      </div>
                    {% else %}
                      <img id="mainImage-{{ product.id }}" class="img-fluid mb-3" alt="Foto não disponível" src="{% static 'images/no-image.png' %}">
                    {% endif %}
                  </div>

                    <!-- Detalhes do produto -->
                    <div class="col-md-8 px-md-3 px-lg-5 py-md-3 py-lg-5">
                        <h5>{{ product.produto }}</h5>
                        <p class="text-muted">{{ product.descricao|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-produtos-center">
                            <span class="fw-bold">Preço: $ {{ product.preco }}</span>
                            <span class="text-muted">Categoria: {{ product.categoria }}</span>
                        </div>
                        <div class="d-flex justify-content-between align-produtos-center mt-3">
                            <label for="select{{ product.id }}">Quantidade</label>
                            <select id="select{{ product.id }}" name="product_quantity">
                              <!-- Quantidade disponível: {{ product.estoque }} -->
                                <option selected>{{ produto.qty }}</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>

                            <button 
                                type="button" 
                                data-index="{{ product.id }}" 
                                class="btn btn-primary btn-sm update-button mx-1" 
                                hx-post="{% url 'cart:cart-update' %}" 
                                hx-include="#select{{ product.id }}" 
                                hx-vals='{"product_id": "{{ product.id }}", "action": "post"}' 
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                                hx-swap="none"
                                hx-on="htmx:afterRequest: (function(event) { 
                                    const response = JSON.parse(event.detail.xhr.responseText); 
                                    document.getElementById('total').textContent = response.total;
                                    document.getElementById('product-produto-{{ product.id }}').remove(); 
                                })(event)">
                                Atualizar
                            </button>

                            <button 
                                type="button" 
                                data-index="{{ product.id }}" 
                                class="btn btn-danger btn-sm delete-button" 
                                hx-post="{% url 'cart:cart-delete' %}" 
                                hx-vals='{"product_id": "{{ product.id }}", "action": "post"}' 
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                                hx-target="#product-produto-{{ product.id }}"
                                hx-swap="none"
                                hx-on="htmx:afterRequest: (function(event) { 
                                    const response = JSON.parse(event.detail.xhr.responseText); 
                                    document.getElementById('total').textContent = response.total;
                                    document.getElementById('product-produto-{{ product.id }}').remove(); 
                                })(event)">
                                Deletar
                            </button>
                        </div>
                    </div>
                </div>
            {% endwith %}
        {% endfor %}

        <!-- Preço total -->
        <div class="col-12 text-end">
            <div class="h6 fw-bold"> Preço total: $ <div id="total" class="d-inline-flex"> {{ cart.get_total }} </div></div>
            <br>
            <a href="" class="btn btn-primary my-2">
                <i class="fa fa-chevron-circle-right" aria-hidden="true"></i> &nbsp; Prosseguir com a compra
            </a>
        </div>
    </div>
    <br>
    <br>
</main>
{% endblock %}