
<div class="col product-item" >
    <div class="card shadow-sm">
        <img class="img-fluid" alt="Responsive image" src="{{ product.imagem }}">
        <div class="card-body">
            <a class="text-info text-decoration-none" href="{{ product.url }}">
                {{ product.produto|truncatechars:19 }}
            </a>
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <h5> $ {{ product.preco }} </h5>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <h5> {{ product.categoria }} </h5>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <p>Qtd disponível: <strong>{{ product.estoque }}</strong></p>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-2">
                <!-- <a href="{% url 'cart:cart-summary' %}"> -->
                    <button 
                        type="button" 
                        id="add-button" 
                        value="{{ produto.id }}" 
                        class="btn btn-secondary btn-sm" 
                        hx-post="{% url 'cart:cart-add' %}" 
                        hx-vals='{"product_id": "{{ product.id }}", "action": "post", "product_quantity": 1}' 
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-swap="none"class="btn btn-primary btn-sm"
                    >
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Add ao carrinho
                    </button>
                <!-- </a> -->
            </div>
        </div>
    </div>
</div>