<div class="dropdown py-3">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="categoryDropdown" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
        Categorias
    </a>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
        <li>
            <a class="dropdown-item" 
               href="#" 
               hx-get="{% url 'home' %}" 
               hx-target="#productList"
               hx-on::after-request="document.getElementById('productList').scrollIntoView({ behavior: 'smooth' })">
               Todas
            </a>
        </li>
        {% for category in categories %}
        <li>
            <a class="dropdown-item" 
               href="#" 
               hx-get="{% url 'home' %}?category={{ category.id }}" 
               hx-target="#productList"
               hx-on::after-request="document.getElementById('productList').scrollIntoView({ behavior: 'smooth' })">
                {{ category.categoria }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
