
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-lg border-0 my-5">
                <div class="card-body p-5">
                    <div class="text-center mb-4">
                        <h1 class="h3 fw-bold">Crie sua Nova Senha</h1>
                        <p class="text-muted">Por favor, insira sua nova senha duas vezes para confirmação.</p>
                    </div>
                    
                    <form method="POST" autocomplete="off">
                        {% csrf_token %}
                        
                        {{ form|crispy }}

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary">
                                Redefinir Senha
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


